@using System.Web.Mvc.Html
@model CourseProject.View_Models.ExerciseCreateViewModel

@{
    ViewBag.Title = @Resources.Resource.CreateExerciseTitleText;
}

<link rel="stylesheet" type="text/css" href="http://latex.codecogs.com/css/equation-embed.css" />
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_config.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_editor-lite-15.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/exercise/create/image")
@Scripts.Render("~/bundles/exercise/create/fillcategories")



@Scripts.Render("~/bundles/exercise/taginput")
@Styles.Render("~/Content/taginput")

<script src="~/Scripts/Exercise/Create/setting.js"></script>

@using (Html.BeginForm("CreateExercise", "Exercise", FormMethod.Post))
{
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="jumbotron">
            <div class="col-md-6">
                <div class="col-md-2" align="center">
                    @Html.LabelFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-2" align="center">
                    <label>Category</label>
                </div>
                <div class="col-md-8">
                    <select id="Category"></select>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div id="tag">
                <textarea id="inputTags" rows="1" cols="100"></textarea>
            </div>

            <textarea id="inputAnswers" rows="1" cols="100"></textarea>
        </div>
        <br />
        <div class="jumbotron">
            @Html.TextAreaFor(model => model.Text, 5, 63, new { id = "content", data_provide = "markdown", rows = "10", cols = "10" })
        </div>
        <div class="jumbotron" id="listOfPictures">
            <form>
                <input id="imageupload" type="file" name="imageupload">

                <button id="Upload" class="btn-default">Upload</button>
            </form>
            <p>Uploaded Images</p>
        </div>
        <div class="jumbotron" id="listOfFormulas">


            <div class="row">
                <style type="text/css">
                    #EqnEditor {
                        text-align: left;
                    }
                </style>

                <div id="toolbar"></div>
                <textarea id="equationInput" rows="3" cols="40"></textarea>
                <img id="equation" />

                <script type="text/javascript">
                    EqEditor.embed('toolbar', '');
                    var a = new EqTextArea('equation', 'equationInput');
                    EqEditor.add(a, false);
                </script>
            </div>
            <button id="addFormula" class="btn btn-default">Add Formula</button>
            <p>Formulas</p>
            <div lang="latex">1+sin(x)^2+3</div>
        </div>
        <div id="listOfVideos">
            <div class="row">
                <div class="col-md-3">
                    <label>VIDEO HTML-CODE</label>
                </div>
                <div class="col-md-9">
                    @Html.Editor("video")
                </div>
            </div>
            <button id="addVideo">Add Video</button>
            <br />
            <label>Videos</label>
        </div>
        @Html.HiddenFor(model => model.Answers)
        @Html.HiddenFor(model => model.Category)
        @*@Html.HiddenFor(model => model.Formulas)*@
        @Html.HiddenFor(model => model.Pictures)
        @Html.HiddenFor(model => model.Tags)
        <button type="submit" class="btn" id="Submit">Submit</button>
    </div>
}