@using System.Web.Mvc.Html
@using Ninject.Activation
@model CourseProject.View_Models.ExerciseCreateViewModel

@{
    ViewBag.Title = @Resources.Resource.CreateExerciseTitleText;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/exercise/create/image")
@Scripts.Render("~/bundles/exercise/create/fillcategories")
@*@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/exercise/create/image")
@Scripts.Render("~/bundles/exercise/create/autocomplite")
@Scripts.Render("~/bundles/exercise/create/addAnswer")
<script src="~/Scripts/Exercise/Create/fileupload.js"></script>
<script src="~/Scripts/Exercise/Create/sendExercise.js"></script>*@

<script src="~/Scripts/Exercise/Create/setting.js"></script>

@using (Html.BeginForm("CreateExercise", "Exercise", FormMethod.Post))
{
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-2" align="center">
                    @Html.LabelFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-2" align="center">
                    <label>Category</label>
                </div>
                <div class="col-md-8">
                    <select id="Category"></select>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="listOfTags">
            <label class="col-md-6">Tags</label>
            <button id="addTag" class="btn btn-default col-md-6">Add Tag</button>
            <br />
            <hr />
        </div>
        <br />
        <div class="jumbotron">
            @Html.TextAreaFor(model => model.Text, 5, 63, new { id = "content", data_provide = "markdown", rows = "10", cols = "10" })
        </div>
        <div class="jumbotron" id="uploaded_images">
            <form>
                <input id="imageupload" type="file" name="imageupload">

                <button id="Upload" class="btn-default">Upload</button>
            </form>
            <p>Uploaded Images</p>
        </div>
        <div class="jumbotron" id="listOfFormulas">
            <script src="http://www.wiris.net/demo/editor/editor"></script>
            @Scripts.Render("~/bundles/exercise/create/formulas")
            <div id="editorContainer"></div>
            <button id="addFormula" class="btn btn-default">Add Formula</button>
            <p>Formulas</p>
        </div>
        <div class="jumbotron" id="listOfAnswers">
            <p>Answers</p><button class="btn-default" id="addAnswer">Add answer</button>
            <hr />
        </div>
        @Html.HiddenFor(model => model.Answers)
        @Html.HiddenFor(model => model.Category)
        @*@Html.HiddenFor(model => model.Formulas)*@
        @Html.HiddenFor(model => model.Pictures)
        @Html.HiddenFor(model => model.Tags)
        <button type="submit" class="btn" id="sendExercise">Submit</button>
    </div>
}

