@model CourseProject.View_Models.ExerciseCreateViewModel

@{
    ViewBag.Title = @Resources.Resource.CreateExerciseTitleText;
}
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/markdown")
@Scripts.Render("~/bundles/markdown_bootstrap")
@Scripts.Render("~/bundles/to_markdown")



<script type="text/javascript" src="~/Scripts/Exercise/Create/markdown_settings.js"></script>
<style>

#editor {
    width: 400px;
}
</style>
<br/>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            <form>
                <textarea name="Text" id="editor" data-provide="markdown" rows="5"></textarea>
                <hr />
                <button type="submit" class="btn">Submit</button>
            </form>
        }

    </div>
</div>
