@using System.Web.Mvc.Html
@using Ninject.Activation
@model CourseProject.View_Models.ExerciseCreateViewModel

@{
    ViewBag.Title = @Resources.Resource.CreateExerciseTitleText;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/exercise/create/image")
<script src="~/Scripts/Exercise/Create/fileupload.js"></script>
<style>
    #Text {
        width: 400px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2" align="center">
                        @Html.LabelFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2" align="center">
                        <label>Category</label>
                    </div>
                    <div class="col-md-8">
                        @* TODO: Edit dropdown for category*@
                        @*Html.DropDownList("Category")*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <form>
                        <textarea name="Text" id="Text" data-provide="markdown" rows="5"></textarea>
                        <hr />
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
                <div class="row jumbotron" id="uploaded_images">
                    <p>Uploaded Images</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 jumbotron">
                        <form>
                            <style>
                                .bar {
                                    height: 18px;
                                    background: green;
                                }
                            </style>
                            <input id="imageupload" type="file" name="imageupload">
                            <br />
                            <button id="Upload" class="btn-default">Upload</button>
                        </form>
                    </div>
                </div>
                <div class="jumbotron col-md-12">
                    <script src="http://www.wiris.net/demo/editor/editor"></script>
                    <script>
                        var editor;
                        window.onload = function () {
                            editor = com.wiris.jsEditor.JsEditor.newInstance({ 'language': 'en' });
                            editor.insertInto(document.getElementById('editorContainer'));
                        }
                    </script>
                    <div id="editorContainer"></div>
                    <div class="boxedcontent"></div>

                </div>
            </div>

        }

    </div>
</div>
