@using System.Web.Mvc.Html
@model CourseProject.View_Models.ExerciseCreateViewModel

@{
    ViewBag.Title = @Resources.Resource.CreateExerciseTitleText;
}

<link rel="stylesheet" type="text/css" href="http://latex.codecogs.com/css/equation-embed.css" />
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_config.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/js/eq_editor-lite-15.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")
@Scripts.Render("~/bundles/exercise/create/image")
@Scripts.Render("~/bundles/exercise/create/fillcategories")

@Scripts.Render("~/bundles/exercise/taginput")
@Styles.Render("~/Content/taginput")

@Styles.Render("~/Content/Graphs")
@Scripts.Render("~/byndles/Graphs")
<script src="~/Scripts/Exercise/Create/Graph.js"></script>
<script src="~/Scripts/Exercise/Create/setting.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>
<br>
@using (Html.BeginForm("CreateExercise", "Exercise", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div id="accordion">
            <h3> @Resources.Resource.Step1</h3>
            <div>
                <h4>@Resources.Resource.AddMainInfoAndContent</h4>
                <br>
                <table width="64%">
                    <col width="25%">
                    <col width="75%">
                    <tr>
                        <td><label>@Resources.Resource.Name</label></td>
                        <td>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td><label>@Resources.Resource.Category</label></td>
                        <td><select id="Category"></select></td>
                    </tr>
                </table>     
                <div class="markdownpanel">
                    @Html.TextAreaFor(model => model.Text, 5, 63, new { id = "content", data_provide = "markdown", rows = "10", cols = "10" })
                </div>
                <br />
                <div id="tag">
                    <textarea id="inputTags" rows="1" cols="100"></textarea>
                </div>
                <textarea id="inputAnswers" rows="1" cols="100"></textarea>
                <br />
            </div>
            <h3>@Resources.Resource.Step2</h3>
            <div>
                <h4>@Resources.Resource.AddPictures</h4>
                <br>
                <form>
                    <input id="imageupload" type="file" name="imageupload">
                    <button id="Upload" class="btn-default">Upload</button>
                </form>
            </div>

            <h3>@Resources.Resource.Step3</h3>
            <div>
                <h4>@Resources.Resource.AddFormulas</h4>
                <br>
                <div class="row">
                    <style type="text/css">
                        #EqnEditor {
                            text-align: left;
                        }
                    </style>
                    <div id="toolbar"></div>
                    <textarea id="equationInput" rows="3" cols="40"></textarea>
                    <img id="equation" />
                    <textarea id="equationToImg" readonly="" hidden=""></textarea>
                    <script type="text/javascript">
                        EqEditor.embed('toolbar', '');
                        var a = new EqTextArea('equation', 'equationInput');
                        EqEditor.add(a, false);
                        a.addExportArea('equationToImg', 'html');
                    </script>
                </div>

                <button id="addFormula" class="btn btn-default">Add Formula</button>

                <p>Formulas</p>
                <br>
                <div id="listOfFormulas">
                </div>
            </div>

            <h3>@Resources.Resource.Step4</h3>
            <div>
                <h4>@Resources.Resource.AddGraphs</h4>
                <br>
                <div id="listOfGraphs">
                    <div>
                        <div class="row">
                            <div class="col-md-1">
                                @Html.Label("labelGraphFormula", @Resources.Resource.labelGraphFormula)
                            </div>
                            <div class="col-md-3">
                                @Html.TextArea("GraphFormula", new { rows = "1", cols = "25" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <p>@Resources.Resource.labelGraphLabelRange</p>
                            </div>
                            <div class="col-md-1">
                                <p>@Resources.Resource.labelGraphLabelRangeFrom</p>
                            </div>
                            <div class="col-md-1">
                                @Html.TextArea("RangeFrom", new { rows = "1", cols = "5" })
                            </div>
                            <div class="col-md-1">
                                <p>@Resources.Resource.labelGraphLabelRangeTo</p>
                            </div>
                            <div class="col-md-1">
                                @Html.TextArea("RangeTo", new { rows = "1", cols = "5" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <p>@Resources.Resource.labelGraphStep</p>
                            </div>
                            <div class="col-md-1">
                                @Html.TextArea("Step", new { rows = "1", cols = "5" })
                            </div>
                            <div class="col-md-2">
                                <button class="btn-default" id="addGraph">Add Graph</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>@Resources.Resource.Step5</h3>
            <div>
                <h4> @Resources.Resource.AddVideo</h4>
                <br>
                <div id="listOfVideos">
                    <div class="row">
                        <div class="col-md-3">
                            <label>VIDEO HTML-CODE</label>
                        </div>
                        <div class="col-md-9">
                            @Html.Editor("video")
                        </div>
                    </div>
                </div>
                <button id="addVideo">Add Video</button>
                <br />
                <label>Videos</label>
            </div>
            @Html.HiddenFor(model => model.Answers)
            @Html.HiddenFor(model => model.Category)
            @Html.HiddenFor(model => model.Formulas)
            @Html.HiddenFor(model => model.Tags)
            @Html.HiddenFor(model => model.Graphs)
            @Html.HiddenFor(model => model.Videos)

            <h3>@Resources.Resource.Step6</h3>
            <div>
                <h4>@Resources.Resource.Preview</h4>
                <br>

                
                
                
                
                
                

                <button type="submit" class="btn" id="Submit">Submit</button>
            </div>
        </div>
    </div>
}