@model CourseProject.View_Models.EditExerciseViewModel

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/exercise/create/markdown")

    @if (Request.Cookies["lang"] == null || Request.Cookies["lang"].Value == null || Request.Cookies["lang"].Value == "ru")
    {
        @Scripts.Render("~/bundle/Exercises/Edit/RU")    
    }
    else
    {
        @Scripts.Render("~/bundle/Exercises/Edit/EN")
    }
}
<link rel="stylesheet" type="text/css" href="http://latex.codecogs.com/css/equation-embed.css" />
@Styles.Render("~/Content/taginput")
@Styles.Render("~/Content/Graphs")
@Styles.Render("~/Content/markdown/css")

@using (Html.BeginForm("EditExercise", "Exercise", FormMethod.Post))
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        @Resources.Resource.Step1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>@Resources.Resource.AddMainInfoAndContent</h4>
                    <br>
                    @Html.HiddenFor(exercise => exercise.Exercise.Id)
                    <table class="table">
                        <tr>
                            <td>
                                <label>@Resources.Resource.Name</label>
                            </td>
                            <td>
                                @Html.EditorFor(exercise => exercise.Exercise.Name)
                            </td>
                        </tr>
                        <tr>
                            <td><label>@Resources.Resource.Category</label></td>
                            <td><select id="Category"><option selected="selected">@Model.Exercise.Category.Text</option></select></td>
                        </tr>
                    </table>
                    <div class="row">
                        @Html.TextAreaFor(exercise => exercise.Exercise.Text, 5, 63, new { id = "content", data_provide = "markdown", rows = "10", cols = "10" })
                    </div>

                    <br>
                    <div>
                        @foreach (var tag in Model.Exercise.Tags)
                        {
                            @Html.Hidden("currTag", tag.Text)
                        }
                    </div>
                    <div>
                        @foreach (var answer in Model.Exercise.Answers)
                        {
                            @Html.Hidden("currAnswer", answer.Text)
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        @Resources.Resource.Step2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>@Resources.Resource.AddPictures</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <input id="imageupload" type="file" name="imageupload">
                        </div>
                        <div class="col-md-6">
                            <div class="progress" hidden="">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="listOfPictures">
                        @foreach (var img in Model.Exercise.Pictures)
                        {
                            <div class="row">
                                <div class="col-md-8 thumbnail">
                                    <img src="@img.Path" />
                                </div>
                                <div class="col-md-4">
                                    <button name="delete" class="btn btn-danger">@Resources.Resource.Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        @Resources.Resource.Step3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>@Resources.Resource.AddFormulas</h4>
                    <br>
                    <div id="listOfFormulas">
                        <div class="col-md-12">

                            <style type="text/css">
                                #EqnEditor {
                                    text-align: left;
                                }
                            </style>

                            <div id="toolbar" style="color: black"></div>
                            <textarea id="equationInput" rows="3" style=" resize: none; width: 500px" cols="40"></textarea>
                            <img id="equation" />
                            <textarea id="equationToImg" readonly="" hidden="" style=" resize: none; width: 500px"></textarea>
                            <script type="text/javascript">
                                EqEditor.embed('toolbar', '');
                                var a = new EqTextArea('equation', 'equationInput');
                                EqEditor.add(a, false);
                                a.addExportArea('equationToImg', 'html');
                            </script>

                        </div>
                        <button id="addFormula" class="btn btn-default">Add Formula</button>
                        <h3>Formulas</h3>
                        @foreach (var equation in Model.Exercise.Equations)
                        {
                            <div class="row">
                                <div class="col-md-4" name="AddEquation">
                                    <img src="@equation.Path">
                                </div>
                                <div class="col-md-4">
                                    <button name="delete" class="btn btn-danger">@Resources.Resource.Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="" name="target" data-parent="#accordion" href="#collapseFour">
                        @Resources.Resource.Step4
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="">
                <div class="panel-body">
                    <h4>@Resources.Resource.AddGraphs</h4>
                    <br>
                    <div>
                        <div id="listOfGraphs">
                            <div class="row">
                                <div class="col-md-1">
                                    @Html.Label("labelGraphFormula", @Resources.Resource.labelGraphFormula)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextArea("GraphFormula", null, 1, 60, new { style = "resize: none; max-width: 1000px; width: 500px" })
                                </div>
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="@Resources.Resource.TooltipFormulaGraphExapmle"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>@Resources.Resource.labelGraphLabelRange</p>
                                </div>
                                <div class="col-md-1">
                                    <p>@Resources.Resource.labelGraphLabelRangeFrom</p>
                                </div>
                                <div class="col-md-1">
                                    @Html.TextArea("RangeFrom", new { rows = "1", cols = "2", style = "resize: none;width: 50px", data_toggle = "tooltip", data_placement = "right", title = Resources.Resource.TooltipStartPoint })
                                </div>
                                <div class="col-md-1">
                                    <p>@Resources.Resource.labelGraphLabelRangeTo</p>
                                </div>
                                <div class="col-md-1">
                                    @Html.TextArea("RangeTo", new { rows = "1", cols = "2", style = "resize: none;width: 50px", data_toggle = "tooltip", data_placement = "right", title = Resources.Resource.TooltipEndPoint })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>@Resources.Resource.labelGraphStep</p>
                                </div>
                                <div class="col-md-1">
                                    @Html.TextArea("Step", new { rows = "1", cols = "5", style = " resize: none;width: 50px", data_toggle = "tooltip", data_placement = "right", title = Resources.Resource.TooltipStep })
                                </div>
                                <div class="col-md-2">
                                    <button class="btn-default" id="addGraph">Add Graph</button>
                                </div>
                            </div>
                            @foreach (var graph in Model.Exercise.Graphs)
                            {
                                <div class="row">
                                    @Html.Hidden("GraphInfo", graph.Path)
                                    <div class="col-md-5 thumbnail">

                                    </div>
                                    <div class="col-md-4">
                                        <button name="delete" class="btn btn-danger">@Resources.Resource.Delete</button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        @Resources.Resource.Step5
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4> @Resources.Resource.AddVideo</h4>
                    <br>
                    <div id="listOfVideos">
                        <div class="row">
                            <div class="col-md-3">
                                <label>@Resources.Resource.VIDEOHTMLCODE</label>
                            </div>
                            <div class="col-md-9">
                                @Html.Editor("video")
                            </div>
                        </div>
                        <button id="addVideo" class="btn-default">@Resources.Resource.AddVideo</button>
                        <br />
                        @foreach (var video in Model.Exercise.Videos)
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <iframe width="560" height="315" src="@video.Path" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="com-md-4">
                                    <button name="delete" class="btn btn-danger">@Resources.Resource.Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tag">
        <textarea id="inputTags" rows="1" cols="100" style="width: 500px"></textarea>
    </div>
    <textarea id="inputAnswers" rows="1" cols="100" style="width: 500px"></textarea>
    <div>
        @Html.HiddenFor(model => model.Answers)
        @Html.HiddenFor(model => model.Equations)
        @Html.HiddenFor(model => model.Graphs)
        @Html.HiddenFor(model => model.Tags)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Text)
        @Html.HiddenFor(model => model.Category)
        @Html.HiddenFor(model => model.Videos)
        @Html.HiddenFor(model => model.Pictures)
        <br>
        <input type="submit" class="btn btn-success" id="Submit" value=@Resources.Resource.Submit />
    </div>
}
