@model CourseProject.Models.Exercise

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/exercise/create/markdown")
@Styles.Render("~/Content/markdown/css")

<style>
    #Text {
        width: 400px;
    }
</style>



@using (Html.BeginForm("EditExercise", "Exercise", FormMethod.Post))
{
    <div class="jumbotron">
        @Html.HiddenFor(exercise => exercise.Id)
        @Html.EditorFor(exercise => exercise.Name)
        <div class="row">
            @Html.TextAreaFor(exercise => exercise.Text, 5, 47, new { id = "content", data_provide = "markdown", rows = "10", cols = "10" })
        </div>
        <script src="~/Scripts/Exercise/Edit/setting.js"></script>
        @foreach (var tag in Model.Tags)
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.Label("Tag", tag.Text)
                </div>
                <div class="col-md-4">
                    <button name="deleteTag">Delete</button>
                </div>
            </div>
        }
    </div>
}