@model IEnumerable<CourseProject.ViewModels.GetCommentViewModel>

@foreach (var comment in Model)
{
    <div class="media">
        <a class="pull-left" href="~/Profile/ShowProfile/@comment.AuthorId">
            @if (@comment.AuthorAvatar == null)
            {
                <img class="media-object" src="http://localhost:50048/Content/user.jpg" width="70px" alt=@comment.AuthorName>
            }
            else
            {
                <img class="media-object" src=@comment.AuthorAvatar width="70px" alt=@comment.AuthorName>
            }
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a class="pull-left" href="~/Profile/ShowProfile/@comment.AuthorId">@comment.AuthorName</a>
                <span class="badge">@comment.AuthorRating</span>
        </h4>
        <br>
        @comment.Text
        @if (User.IsInRole("admin"))
        {    <p>
            @Html.ActionLink(Resources.Resource.Delete, "DeleteComment", "Exercise", new { id = comment.Id }, new { @style = "color:dodgerblue;" })
        </p>
        }
    </div>
</div>
    <hr>
}

