@using System.Net
@using Microsoft.AspNet.Identity
@model CourseProject.Models.Exercise
@{
    ViewBag.Title = Model.Name;
}

@Styles.Render("~/Content/Graphs")
@Scripts.Render("~/byndles/Graphs")
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script src="~/Scripts/Exercise/Edit/DisplayGraphs.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<div class="jumbotron">
    @{
        bool author = false;
        bool authenticated = false;
        <h3>
            @Model.Name
            @if (Request.IsAuthenticated)
            {
                authenticated = true;
                if (Model.Author.Id == User.Identity.GetUserId())
                {
                    author = true;
                }
            }
            @if (authenticated)
            {
                if (Model.Active)
                {
                    <button type="button" class="btn btn-default btn-xs disabled">@Resources.Resource.Active</button>
                }
                else
                {
                    <button type="button" class="btn btn-default btn-xs disabled">@Resources.Resource.Inactive</button>
                }
                if (!author)
                {
                    //var b = ViewBag.IsRightAnsweredUser;
                    //bool a = ViewBag.IsRightAnsweredUser;
                    //if (@ViewBag.IsRightAnsweredUser)
                    //if (Model.RightAnsweredUsers.First(user=>user.Id == User.Identity.GetUserId()) !=null)
                    // {
                    //     @Resources.Resource.Answered
                    //}
                    // else
                    // {

                    bool isAnswered = false;
                    foreach (var rightAnsweredUser in Model.RightAnsweredUsers)
                    {
                        if (rightAnsweredUser.Id == User.Identity.GetUserId())
                        {
                            isAnswered = true;
                        }
                    }
                    if (!isAnswered)
                    {
                        <div id="accordion">
                            <h3>@Resources.Resource.SendAnswer</h3>
                            @Html.Action("SendAnswerPartialView", "Exercise", Model.Id)
                        </div>
                    }
                }
            }

        </h3>
        <div>
            Author: <a href="~/Profile/ShowProfile/@Model.Author.Id" style="color:darkslategrey"> @Model.Author.UserName </a>
            @if (!author && authenticated)
            {
                <div id="accordion">
                    <h3>@Resources.Resource.NotifyAboutMistake</h3>
                    <div>
                        @using (Html.BeginForm("WriteToAuthor", "Exercise"))
                        {
                        <input value="@Model.Id" hidden="true">
                        <input type="text" placeholder="" id="input-text" name="text" />
                        <input type="submit" id="text" value="Send" />
                        }
                    </div>
                </div>
            }
            <h5>
                @Resources.Resource.Tags:
                @foreach (var tag in Model.Tags)
                {
                    @Html.ActionLink("#" + tag.Text + "  ", "ShowExercisesWithTag", "Exercise", new { tag = tag.Text }, null)
                }
            </h5>
            <h5>@Resources.Resource.Category: @Model.Category.Text</h5>
            <h5>@Resources.Resource.TriesOfAnswers: @Model.TriesOfAnswers</h5>
            <h5>
                @Resources.Resource.RightAnsweredUsers:
                @if (@Model.RightAnsweredUsers.Count != 0)
                {
                    foreach (var user in Model.RightAnsweredUsers)
                    {
                        @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
                    <br/>
                    }
                }
                else
                {
                    @Resources.Resource.NoRightAnsweredUsers
                }
            </h5>
            <br>
            <br>
            <h4>@Resources.Resource.Task: </h4>
            @Html.Markdown(Model.Text)
            <div id="accordion">
                @if (Model.Pictures.Count != 0)
                {
                    <h5>@Resources.Resource.Pictures</h5>
                    <div>
                        @foreach (var picture in Model.Pictures)
                        {
                            <img src="@picture.Path" alt="@picture.Name" width="560" height="315">
                        }
                    </div>
                }
                @if (Model.Equations.Count != 0)
                {
                    <h5>@Resources.Resource.Formulas</h5>
                    foreach (var equation in Model.Equations)
                    {
                        <div>
                            <img src="@equation.Path">
                        </div>
                    }

                }
                @if (Model.Graphs.Count != 0)
                {
                    <h5>@Resources.Resource.Graphs</h5>
                    <div>
                        @foreach (var graph in Model.Graphs)
                        {
                            <div class="row">
                                @Html.Hidden("GraphInfo", graph.Path)
                                <div class="col-md-4 thumbnail">

                                </div>
                            </div>
                        }
                    </div>
                }
                @if (Model.Videos.Count != 0)
                {
                    <h5>@Resources.Resource.Videos</h5>
                    <div>
                        @foreach (var video in Model.Videos)
                        {
                            <iframe width="560" height="315" src="@video.Path" frameborder="0" allowfullscreen></iframe>
                        }
                    </div>
                }
            </div>
            <hr style="border-color: black" />
            @using (Html.BeginForm("AddEvaluation", "Exercise"))
            {
                <input value="@Model.Id" hidden="true" name="id">
                <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="like"><span class="glyphicon glyphicon-thumbs-up"></span> @Model.Evaluations.Where(ev => ev.Type == true).Count()</button>
                <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="dislike"><span class="glyphicon glyphicon-thumbs-down"></span> @Model.Evaluations.Where(ev => ev.Type == false).Count()</button>
            }
            <br>
            <br>
            @if (Model.Active && authenticated)
            {
                <div class="comments">
                    @Html.Action("AddComment", "Exercise", Model.Id)
                </div>
                <br>
            }
            @*<div class="comments">
                    @if (Model.Comments.Count != 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <div class="media">
                                <a class="pull-left" href="~/Profile/ShowProfile/@comment.Author.Id">
                                    @if (@Model.Author.ImagePath == null)
                                    {
                                        <img class="media-object" src="~/Content/user.jpg" width="70px" alt=@comment.Author.UserName>
                                    }
                                    else
                                    {
                                        <img class="media-object" src=@Model.Author.ImagePath width="70px" alt=@comment.Author.UserName>
                                    }
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a class="pull-left" href="~/Profile/ShowProfile/@comment.Author.Id">@comment.Author.UserName</a> </h4>
                                    <br>
                                    @comment.Text
                                </div>
                            </div>
                            <hr>
                        }
                    }
                </div>*@
            <div id="bookListDiv">
                @Html.Action("GetComments", "Exercise")
            </div>

            <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">

                <img alt="Loading"
                     src="@Url.Content("~/Content/ajax-loader.gif")" />
            </div>
            <script type="text/javascript">
                var blockNumber = 2;  //Infinate Scroll starts from second block
                var NoMoreData = false;
                var inProgress = false;

                $(window).scroll(function () {
                    if ($(window).scrollTop() == $(document).height() -
                    $(window).height() && !NoMoreData && !inProgress) {

                        inProgress = true;
                        $("#loadingDiv").show();

                        $.post("/Exercise/InfinateScroll", {"blockNumber": blockNumber},
                                function (data) {
                                    blockNumber = blockNumber + 1;
                                    NoMoreData = data.NoMoreData;
                                    $("#bookListDiv").append(data.HTMLString);
                                    $("#loadingDiv").hide();
                                    inProgress = false;
                                })};
                    });
            </script>



        </div>
    }
</div>
