@using Microsoft.AspNet.Identity
@model CourseProject.Models.Exercise
@{
    ViewBag.Title = Model.Name;
}

@Styles.Render("~/Content/Graphs")
@section scripts
{
    @if (Request.Cookies["lang"] == null || Request.Cookies["lang"].Value == null || Request.Cookies["lang"].Value == "ru")
    {
        @Scripts.Render("~/bundles/Exercise/Show/RU")
    }
    else
    {
        @Scripts.Render("~/bundles/Exercise/Show/EN")
    }
}

@Html.HiddenFor(exercise => exercise.Id)
@{
    bool author = false;
    bool authenticated = false;
    bool isAnswered = false;
    <table class="table">
        <td>
            <h3>
                @Model.Name
                @if (Request.IsAuthenticated)
                {
                    authenticated = true;
                    if (Model.Author.Id == User.Identity.GetUserId())
                    {
                        author = true;
                    }
                }
                @if (authenticated)
                {
                    if (Model.Active)
                    {
                        <button type="button" class="btn btn-default btn-xs disabled">@Resources.Resource.Active</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default btn-xs disabled">@Resources.Resource.Inactive</button>
                    }
                }
                @foreach (var rightAnsweredUser in Model.RightAnsweredUsers)
                {
                    if (rightAnsweredUser.Id == User.Identity.GetUserId())
                    {
                        isAnswered = true;
                    }
                }
                <br>
                Author: <a href="~/Profile/ShowProfile/@Model.Author.Id" style="color:darkslategrey"> @Model.Author.UserName </a>
                <span class="badge">@Model.Author.Rating</span>
            </h3>
        </td>
        <td>
            @if (authenticated && !author && !isAnswered && Model.Active)
            {
                <h3>@Resources.Resource.SendAnswer</h3>
                @Html.Action("SendAnswerPartialView", "Exercise", Model.Id)
            }
            @if (isAnswered)
            {
                <img src="~/Content/right.png" alt="@Resources.Resource.YouAnsweredRight" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.YouAnsweredRight">
            }
        </td>
        <td>
            @if (!author && authenticated && Model.Active)
            {
                <h3>@Resources.Resource.NotifyAboutMistake</h3>
                <div id="form-container">
                    <script>
                        function SendBegin() {
                            $("#message")[0].value = "";
                        }
                    </script>
                    @using (Ajax.BeginForm("SendMail", "Home", new AjaxOptions { HttpMethod = "Post", OnBegin = "SendBegin"}))
                    {
                        <input type="text" name="id" id="sender-address" required hidden="" value="@Model.Id" />
                        <textarea name="Message" id="message" placeholder="@Resources.Resource.Message" style="resize: none" required></textarea>
                        <input type="submit" class="btn-success" id="send-button" value=@Resources.Resource.AddComment>
                    }
                </div>
            }
        </td>
    </table>
    <h5>
        @Resources.Resource.Tags:
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink("#" + tag.Text + "  ", "ShowExercisesWithTag", "Exercise", new { tag = tag.Text }, null)
        }
    </h5>
    <h5>@Resources.Resource.Category: @Model.Category.Text</h5>
    <h5>@Resources.Resource.TriesOfAnswers: @Model.TriesOfAnswers</h5>
    <h5>
        @Resources.Resource.RightAnsweredUsers:
        @if (@Model.RightAnsweredUsers.Count != 0)
        {
            foreach (var user in Model.RightAnsweredUsers)
            {
                @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
                <br />
            }
        }
        else
        {
            @Resources.Resource.NoRightAnsweredUsers
        }
    </h5>
    <br>
    <br>
    <h4>@Resources.Resource.Task: </h4>
    @Html.Markdown(Model.Text)
    <div id="accordion">
        @if (Model.Pictures.Count != 0)
        {
            <h5>@Resources.Resource.Pictures</h5>
            <div>
                @foreach (var picture in Model.Pictures)
                {
                    <div class="row">
                        <div class="col-md-8 thumbnail">
                            <img src="@picture.Path" alt="@picture.Name">
                        </div>
                    </div>
                }
            </div>
        }
        @if (Model.Equations.Count != 0)
        {
            <h5>@Resources.Resource.Formulas</h5>
            foreach (var equation in Model.Equations)
            {
                <div>
                    <img src="@equation.Path">
                </div>
            }

        }
        @if (Model.Graphs.Count != 0)
        {
            <h5>@Resources.Resource.Graphs</h5>
            <div>
                @foreach (var graph in Model.Graphs)
                {
                    <div class="row">
                        @Html.Hidden("GraphInfo", graph.Path)
                        <div class="col-md-4 thumbnail">

                        </div>
                    </div>
                }
            </div>
        }
        @if (Model.Videos.Count != 0)
        {
            <h5>@Resources.Resource.Videos</h5>
            <div>
                @foreach (var video in Model.Videos)
                {
                    <iframe width="560" height="315" src="@video.Path" frameborder="0" allowfullscreen></iframe>
                }
            </div>
        }
    </div>
    <hr style="border-color: black" />
    using (Html.BeginForm("AddEvaluation", "Exercise"))
    {
        <input value="@Model.Id" hidden="true" name="id">
        <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="like"><span class="glyphicon glyphicon-thumbs-up"></span> @Model.Evaluations.Where(ev => ev.Type == true).Count()</button>
        <button type="submit" class="btn btn-primary btn-sm" name="evaluationButton" value="dislike"><span class="glyphicon glyphicon-thumbs-down"></span> @Model.Evaluations.Where(ev => ev.Type == false).Count()</button>
    }
    <br>
    <br>
    if (Model.Active && authenticated)
    {
        <div class="comments">
            @Html.Action("AddComment", "Exercise", Model.Id)
        </div>
    }
    <br>
    <div class="comments">
        <div id="bookListDiv">
            @Html.Action("GetComments", "Exercise", Model.Id)
        </div>
    </div>
    <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">

        <img alt="Loading"
             src="@Url.Content("~/Content/ajax-loader.gif")" />
    </div>

}

