@using System.Net
@using Microsoft.AspNet.Identity
@model CourseProject.Models.Exercise
@{
    ViewBag.Title = Model.Name;
}
<head>
    @Styles.Render("~/Content/Graphs")
    @Scripts.Render("~/byndles/Graphs")
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <script src="~/Scripts/Exercise/Edit/DisplayGraphs.js"></script>
</head>

<h1>Show exercise with tag</h1>
<div class="jumbotron">
    <div class="container">
        @{ bool active = true;}
        <br />
        <h4>
            @Model.Name
            <h5>
                (
                @if (Model.Active)
                {
                    active = true;
                    @Resources.Resource.Active
                    if (Model.Author.Id != User.Identity.GetUserId())
                    {
                        if (ViewBag.IsRightAnsweredUser)
                        {
                            @Resources.Resource.Answered
                        }
                        else
                        {
                            @Resources.Resource.SendAnswer
                            <div>
                                @using (Html.BeginForm("SendAnswer", "Exercise"))
                                {
                                    <input value="@Model.Id" hidden="true">
                                    <input type="text" placeholder="" id="input-text" name="text" />
                                    <input type="submit" id="text" value="Send" />
                                }
                            </div>
                        }
                    }
                }
                else
                {
                    @Resources.Resource.Unactive
                    active = false;
                }
                )
            </h5>
        </h4>
        <div id="accordion">
            Author: <a href="~/Profile/ShowProfile/@Model.Author.Id">@Model.Author.UserName</a>
            @Resources.Resource.NotifyAboutMistake
            <div>
                @using (Html.BeginForm("WriteToAuthor", "Exercise"))
                {
                    <input value="@Model.Id" hidden="true">
                    <input type="text" placeholder="" id="input-text" name="text" />
                    <input type="submit" id="text" value="Send" />
                }
            </div>
            <h4>@Resources.Resource.Tags</h4>
            <div class="row">
                @foreach (var tag in Model.Tags)
                {
                    <div class="col-md-5">
                        @Html.ActionLink(tag.Text, "ShowExercisesWithTag", "Exercise", new { tag = tag.Text }, null)
                    </div>
                }
            </div>
            <h4>@Resources.Resource.Category @Model.Category.Text</h4>
            <h4>@Resources.Resource.TriesOfAnswers @Model.TriesOfAnswers</h4>
            <h4>@Resources.Resource.RightAnsweredUsers</h4>
            <div>
                @if (@Model.RightAnsweredUsers.Count != 0)
                {
                    foreach (var user in Model.RightAnsweredUsers)
                    {
                        @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
                    }
                }
                else
                {
                    @Resources.Resource.NoRightAnsweredUsers
                }
            </div>
            <br>
            @Html.Markdown(Model.Text)
            @if (Model.Equations.Count != 0)
            {
                @Resources.Resource.Formulas
                foreach (var equation in Model.Equations)
                {
                    <div>
                        <img src="@equation.Path">
                    </div>
                }

            }
            @if (Model.Graphs.Count != 0)
            {
                @Resources.Resource.Graphs
                <div>
                    @foreach (var graph in Model.Graphs)
                    {
                        <div class="row">
                            @Html.Hidden("GraphInfo", graph.Path)
                            <div class="col-md-4 thumbnail">

                            </div>
                        </div>
                    }
                </div>
            }
            @if (Model.Videos.Count != 0)
            {
                @Resources.Resource.Videos
                <div>
                    @foreach (var video in Model.Videos)
                    {
                        @video.Path
                    }
                </div>
            }
            @if (active && Model.Author.Id != User.Identity.GetUserId())
            {
                using (Html.BeginForm("AddEvaluation", "Exercise"))
                {
                    <input value="@Model.Id" hidden="true">
                    <input type="button" id="input-text" value="like" name="evaluationButton" src="~/Content/like.png" width="20" alt=@Model.Evaluations.Select(ev => ev.Type == true).Count().ToString()" likes">
                    @Model.Evaluations.Select(ev => ev.Type == true).Count()
                    <input type="button" id="input-text" value="dislike" name="evaluationButton" src="~/Content/dislike.png" width="20" alt=@Model.Evaluations.Select(ev => ev.Type == false).Count().ToString()" dislikes">
                    @Model.Evaluations.Select(ev => ev.Type == true).Count()
                }
            }
            @if (active)
            {
                using (Html.BeginForm("AddComment", "Exercise"))
                {
                    <input value="@Model.Id" hidden="true">
                    <input type="text" placeholder="" id="input-text" name="text" />
                    <input type="submit" id="text" value="Send" />
                }
            }
            <div class="comments">
                @if (Model.Comments.Count != 0)
                {
                    <div>
                        @foreach (var comment in Model.Comments)
                        {
                            <a href="~/Profile/ShowProfile/@comment.Author.Id">@comment.Author.UserName</a>
                            <br />
                            <p> @comment.Text</p>
                        }
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
</div>
