@model CourseProject.Models.ApplicationUser
@{
    ViewBag.Title = "My Profile";
}
<br>
<div class="myexercises">
    <div class="container">
        <div class="userinfo">
            <h4>
                @Model.Email
                <span class="badge">
                    @ViewBag.Rating
                </span>
            </h4>
        </div>
            <h4> @Resources.Resource.MyExercises</h4>
            @if (Model.Exercises.Count != 0)
            {
                <div id="accordion">
                    @foreach (var exersise in Model.Exercises)
                    {
                        <h5><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></h5>
                        <div>
                            <div id="accordion">
                                @{ string activeAction = ""; }
                                if (exersise.Active){
                                activeAction = @Resources.Resource.MakeUnactive;
                                }
                                else{
                                activeAction = @Resources.Resource.MakeActive;
                                }
                                <h6>@Html.ActionLink(activeAction, "MakeActiveUnactive", "Profile", new { id = exersise.Id, isActive = exersise.Active }, null))</h6>
                                }
                                <h5>@Resources.Resource.Answers</h5>
                                <div>
                                    <ul>
                                        @foreach (var answer in exersise.Answers)
                                        {
                                            <li>
                                                @answer
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <h6>@Resources.Resource.AddAnswer</h6>
                                <div>
                                    @using (Html.BeginForm("AddAnswer", "Exercise"))
                                    {
                                        <input value="@exersise.Id" hidden="true">
                                        <input type="text" placeholder="" id="search-text" name="answer" />
                                        <input type="submit" id="answer" value="Add answer" />
                                    }
                                </div>
                                <h5>@Resources.Resource.Tags</h5>
                                <div class="row">
                                    @foreach (var tag in exersise.Tags)
                                    {
                                        <div class="col-md-5">
                                            @Html.ActionLink(tag.Text, "ShowExercisesWithTag", "Exercise", new { tag = tag.Text }, null)
                                        </div>
                                    }
                                </div>
                                <h5>@Resources.Resource.Category @exersise.Category.Text</h5>
                                <h5>@Resources.Resource.TriesOfAnswers @exersise.TriesOfAnswers</h5>
                                <h5>@Resources.Resource.RightAnsweredUsers</h5>
                                <div>
                                    @if (@exersise.RightAnsweredUsers.Count != 0)
                                    {
                                        <ul>
                                            @foreach (var user in exersise.RightAnsweredUsers)
                                            {
                                                <li>
                                                    @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        @Resources.Resource.NoRightAnsweredUsers
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @Resources.Resource.NoExercises
            }
        </div>
</div>

<div class="solvedexercises">
    <div class="container">
        <br />
        <h4> @Resources.Resource.SolvedExercises</h4>

        @if (Model.RightAnswers.Count != 0)
            {
            <ul>
                @foreach (var exersise in Model.RightAnswers)
                {
                    <li>
                        <a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a>
                    </li>
                }
            </ul>
            }
        else
        {
        @Resources.Resource.NoRightAnsweredExercises
        }
    </div>
</div>
