@model CourseProject.Models.ApplicationUser
@{
    ViewBag.Title = "My Profile";
}

<a href="~/Exercise/CreateExercise">Create Exercise</a>
<div class="jumbotron">
    <div class="container">
        @if (Model.Exercises != null)
        {
            <h3> @Resources.Resource.MyExercises</h3>
            <div id="accordion">
                @foreach (var exersise in Model.Exercises)
                {
                    <h3><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></h3>
                    <div>
                        <div id="accordion">
                            @{ string activeAction = null; }
                            if (exersise.Active){
                            activeAction = @Resources.Resource.MakeUnactive;
                            }
                            else{
                            activeAction = @Resources.Resource.MakeActive;
                            }
                            <h4>@Html.ActionLink(activeAction, "MakeActiveUnactive", "Profile", new { id = exersise.Id, isActive = exersise.Active }, null))</h4>
                            }
                            <h4>@Resources.Resource.Answers</h4>
                            <div>
                                @foreach (var answer in exersise.Answers)
                                {
                                    @answer
                                }
                            </div>
                            <h4>@Resources.Resource.AddAnswer</h4>
                            <div>
                                @using (Html.BeginForm("AddAnswer", "Exercise"))
                                {
                                    <input value="@exersise.Id" hidden="true">
                                    <input type="text" placeholder="Add new answer" id="search-text" name="answer" />
                                    <input type="submit" id="answer" value="Add answer" />
                                }
                            </div>


                        </div>
                    </div>
                }
                else{
                <br />
                <thead>@Resources.Resource.NoExercises</thead>
                }
            </div>
        }
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <br />
        <table class="table table-striped table-hover ">
            <thead>
                <h3> @Resources.Resource.SolvedExercises</h3>
            </thead>
            <tbody>
                @if (Model.RightAnswers != null)
                {
                    foreach (var exersise in Model.RightAnswers)
                    {
                        <tr>
                            <td><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></td>
                        </tr>
                    }
                }
                else
                {
                    <br />
                <thead>
                    @Resources.Resource.NoRightAnsweredExercises
                </thead>
                }
                </tbody>
            </table>
        </div>
    </div>
