@model CourseProject.Models.ApplicationUser
@{
    ViewBag.Title = "My Profile";
}
<br>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>

<div class="myexercises">
    <div class="userinfo">
        <div class="row">
            <div class="col-md-2">
                @if (Model.ImagePath == null)
                {
                    <img src="~/Content/user.jpg" alt=@Model.UserName width="130">
                }
                else
                {
                    <img src=@Model.ImagePath alt=@Model.UserName width="130">
                }
            </div>
            <div class="col-md-2">
                <h3>
                    @Model.UserName
                    <span class="badge">
                        @ViewBag.Rating
                    </span>
                </h3>
                <h4>
                    @Resources.Resource.Email: @Model.Email
                </h4>
            </div>
            <div class="col-md-3">
                <input id="imageupload" type="file" name="imageupload">
            </div>
            <div class="col-md-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                </div>
            </div>
        </div>
    </div>
    <h4> @Resources.Resource.MyExercises</h4>
    @if (Model.Exercises.Count != 0)
    {
        <div id="accordion" style="color:inherit; background-color: inherit">
            @foreach (var exersise in Model.Exercises)
            {
                string activeAction = "";
                if (exersise.Active)
                {
                    activeAction = @Resources.Resource.MakeUnactive.ToString();
                }
                else
                {
                    activeAction = @Resources.Resource.MakeActive.ToString();
                }

                <h5><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></h5>
                <div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.ActionLink(@Resources.Resource.ShowExercise, "ShowExercise", "Exercise", new { id = exersise.Id }, new { @style = "color:dodgerblue;" })
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink(@Resources.Resource.EditExercise, "EditExercise", "Exercise", new { id = exersise.Id }, new { @style = "color:dodgerblue;" })
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink(activeAction, "MakeActiveUnactive", "Profile", new { id = exersise.Id, isActive = exersise.Active }, new { @style = "color:dodgerblue;" })
                        </div>
                    </div>
                    <h5>@Resources.Resource.Category: @exersise.Category.Text</h5>
                    <h5>
                        @Resources.Resource.TriesOfAnswers:
                        <span class="badge" style="background-color: cornsilk; color: black">
                            @exersise.TriesOfAnswers
                        </span>
                    </h5>
                    <h5>
                        @Resources.Resource.RightAnsweredUsers:
                        <span class="badge" style="background-color: cornsilk; color: black ">
                            @exersise.RightAnsweredUsers.Count
                        </span>
                    </h5>
                    <ul>
                        @foreach (var user in exersise.RightAnsweredUsers)
                        {
                            <li>
                                @Html.ActionLink(user.UserName, "ShowProfile", "Profile", new { id = user.Id }, null)
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    else
    {
        @Resources.Resource.NoExercises
    }
</div>

<div class="solvedexercises">
    <h4> @Resources.Resource.SolvedExercises</h4>
    @if (Model.RightAnswers.Count != 0)
    {
        <ul>
            @foreach (var exersise in Model.RightAnswers)
            {
                <li>
                    <a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        @Resources.Resource.NoRightAnsweredExercises
    }
</div>
