@model CourseProject.Models.ApplicationUser
@{
    ViewBag.Title = Model.UserName + "Profile";
}

<div class="jumbotron">
    <div class="container">
        <br />
        <table class="table table-striped table-hover ">
            @if (Model.Exercises != null)
            {
                <h3> @Resources.Resource.Exercises</h3>
                foreach (var exersise in Model.Exercises)
                {
                    <tr>
                        <td><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></td>
                        <td>@Html.ActionLink(exersise.Name, "ShowExercise", "Exercise", new { id = exersise.Id }, null)</td>
                    </tr>
                }
            }
            else
            {
                <br />
                <thead>
                    @Resources.Resource.NoCurrentUserExercises
                </thead>
            }
        </table>

    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <br />
        <table class="table table-striped table-hover ">
            <thead>
                <h3> @Resources.Resource.SolvedExercises</h3>
            </thead>
            <tbody>
                @if (Model.RightAnswers != null)
                {
                    foreach (var exersise in Model.RightAnswers)
                    {
                        <tr>
                            <td><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></td>
                        </tr>
                    }
                }
                else
                {
                    <br />
                <thead>
                    @Resources.Resource.NoCurrentUserRightAnsweredExercises
                </thead>
                }
                </tbody>
            </table>
        </div>
    </div>

