@using System.Configuration
@using CourseProject.Models
@using Microsoft.Ajax.Utilities
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Resource.LayoutTitle</title>
    <style type="text/css">
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    @RenderSection("scripts", required: false)
    @if (Request.Cookies["theme"] == null || Request.Cookies["theme"].Value == null || Request.Cookies["theme"].Value == "white")
    {
        @Styles.Render("~/Content/white");
    }
    else
    {
        @Styles.Render("~/Content/dark");
    }

</head>
<body>
    <div id="block">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Resources.Resource.LayoutHomeLinkText, "Index", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(Resources.Resource.LayoutAddExerciseLinkText, "CreateExercise", "Exercise")</li>
                           // if (User.IsInRole("user"))
                           // {
                                <li>@Html.ActionLink(Resources.Resource.LayoutMyProfileLinkText, "MyProfile", "Profile")</li>
                           // }
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink(Resources.Resource.LayoutUsersAndExercisesLinkText, "AdministratorMain", "Administrator")</li>
                        }
                        <li>@Html.ActionLink(Resources.Resource.LayoutRatingLinkText, "Rating", "Profile")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        
        @Html.Action("SidePanel","Home")

        <div class="container body-content">
            <div id='search-box'>
                @using (Html.BeginForm("Search", "Home"))
                {
                    <input type="text" placeholder="Search on Site" id="search-text" name="search" />
                    <input type="submit" id="search-button" value="Search" />
                }
                @* <form action='~/Controllers/Home/Search' id='search-form' method='get' target='_top'>
                        <input id='search-text' name='search' placeholder='Search on Site' type='text' />
                        <button id='search-button' type='submit'>Search</button>
                    </form>*@
            </div>
            @RenderBody()
            <hr />
            <footer>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        @Resources.Resource.LayoutSelectThemeText
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="theme-selector">
                        <li role="presentation">@Html.ActionLink(Resources.Resource.LayoutDrakThemeText, "SetTheme", "Home", new { theme = "dark" }, null)</li>
                        <li role="presentation">@Html.ActionLink(Resources.Resource.LayoutWhiteThemeText, "SetTheme", "Home", new { theme = "white" }, null)</li>
                    </ul>
                </div>
                <center>&copy; @DateTime.Now.Year - Course Project</center>
                <br>
            </footer>
        </div>
    </div>
</body>
</html>
