<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Resources.Resource.LayoutTitle</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @if (Request.Cookies["theme"] == null || Request.Cookies["theme"].Value == null || Request.Cookies["theme"].Value == "white")
    {
        @Styles.Render("~/Content/white");
    }
    else
    {
        @Styles.Render("~/Content/dark");
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-left: 3%; padding-right: 3%">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Resource.LayoutHomeLinkText, "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(Resources.Resource.LayoutAddExerciseLinkText, "CreateExercise", "Exercise")</li>
                        <li>@Html.ActionLink(Resources.Resource.LayoutMyProfileLinkText, "MyProfile", "Profile")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink(Resources.Resource.LayoutUsersAndExercisesLinkText, "AdministratorMain", "Administrator")</li>
                    }
                    <li>@Html.ActionLink(Resources.Resource.LayoutRatingLinkText, "Rating", "Profile")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    <br />
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
            @Html.Action("SidePanel", "Home")
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
            <div class="row" id='search-box' style="width: 100%">
                @using (Html.BeginForm("Search", "Exercise"))
                {
                    <input type="text" class="md-editor" style="width: 80%" placeholder="@Resources.Resource.SearchOnSite" id="search-text" name="search" />
                    <input type="submit" class="btn-info" id="search-button" value=@Resources.Resource.Search />
                }
            </div>
            <br/>
            <div class="row">
                @RenderBody()
            </div>
        </div>

    </div>
    <hr />
    <footer>
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        @Resources.Resource.LayoutSelectThemeText
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="theme-selector">
                        <li role="presentation">@Html.ActionLink(Resources.Resource.LayoutDarkThemeText, "SetTheme", "Home", new { theme = "dark" }, null)</li>
                        <li role="presentation">@Html.ActionLink(Resources.Resource.LayoutWhiteThemeText, "SetTheme", "Home", new { theme = "white" }, null)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        @Resources.Resource.LayoutSelectLanguageText
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="language-selector">
                        <li role="presentation">@Html.ActionLink(Resources.Resource.English, "ChangeCulture", "Home", new { lang = "en" }, null)</li>
                        <li role="presentation">@Html.ActionLink(Resources.Resource.Russian, "ChangeCulture", "Home", new { lang = "ru" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        <center>&copy; @DateTime.Now.Year - Course Project</center>
        <br />
    </footer>
</body>
</html>
