@model IEnumerable<CourseProject.Models.Tag>
<h3 style="color:#87CEFA">@Resources.Resource.Tags</h3>
<head>
    <script src="~/Scripts/jquery.tagcanvas.js"></script>
</head>
<div>
    @if (Model.Count() != 0)
    {
        <div id="myCanvasContainer" width="90%">
            <canvas style="width: 100%; height: 100%" id="myCanvas"></canvas>
        </div>
        <div id="tags" style="font-size: 50%">
            @{
        double size = 300;
        int count = Model.Count();
        int step = (int)(size - size / 20) / count;
        foreach (var tag in Model)
        {
            string link = "/Exercise/ShowExercisesWithTag?tag=" + tag.Text;
            string style = String.Format("font-size: {0}%", size);
            size -= step;
            <a href="@link" style="@style">@tag.Text</a>
        }
            }
        </div>
        <script>
            $(document).ready(function () {
                if (!$('#myCanvas').tagcanvas({
                    reverse: true,
                    depth: 0.7,
                    maxSpeed: 0.05,
                    shape: "sphere",
                    textFont: 'Impact,"Arial Black",sans-serif',
                        weightMode: 'both',
                    shuffleTags: true,
                    radiusX: 1.5,
                    radiusY: 1.5,
                    radiusZ: 1.5,
                    weight: true,
                        weightGradient: { 0: "#f00", 0.33: "#ff0", 0.66: "#0f0", 1: "#00f" }
                }, 'tags')) {
                    // something went wrong, hide the canvas container
                    $('#myCanvasContainer').hide();
                }
            });
        </script>
    }
    else
    {
        @Resources.Resource.TagsListIsEmpty
    }
</div>
