@using System.Web.Mvc.Html
@model List<CourseProject.View_Models.UserForAdministratorMainViewModel>
<br>
<div class="jumbotron">
    <div class="container">
        @using (Html.BeginForm("MakeAdministrator", "Administrator"))
        {
            <table>
                <th>
                    @Resources.Resource.Username
                </th>
                <th>
                    @Resources.Resource.Email
                </th>
                <th>
                    @Resources.Resource.Exercises
                </th>
                <th>
                    @Resources.Resource.RightAnsweredExercises
                </th>
                <th>
                    @Resources.Resource.Administrator
                </th>
                <th>
                    @Resources.Resource.BlockUser
                </th>
                <th>
                    @Resources.Resource.DropUserPassword
                </th>
                <th>
                    @Resources.Resource.DeleteUser
                </th>

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td> @Html.ActionLink(Model.ElementAt(i).Email, "ShowProfile", "Profile", new { id = Model.ElementAt(i).Id }, null)</td>
                        <td> @Html.ActionLink(Model.ElementAt(i).Email, "ShowProfile", "Profile", new { id = Model.ElementAt(i).Id }, null)</td>
                        <td>
                            @foreach (var exersise in Model.ElementAt(i).UsersExercises)
                            {
                                @exersise.Name
                                @Html.ActionLink(@Resources.Resource.View, "ShowExercise", "Exercise", new { id = Model.ElementAt(i).Id }, null)
                                @Html.ActionLink(@Resources.Resource.Edit, "EditExercise", "Exercise", new { id = Model.ElementAt(i).Id }, null)
                                @Html.ActionLink(@Resources.Resource.Delete, "DeleteExercise", "Exercise", new { id = Model.ElementAt(i).Id }, null)

                            }
                        </td>
                        <td>
                            @if (Model.ElementAt(i).SolvedExercises != null)
                            {
                                foreach (var exersise in Model.ElementAt(i).SolvedExercises)
                                {
                                    <tr>
                                        <td><a href="~/Profile/MyProfile/@exersise.Id">@exersise.Name</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @Resources.Resource.NoCurrentUserRightAnsweredExercises
                            }
                        </td>
                            <td>@Html.CheckBoxFor(x => x[i].Admin, new { @class = "checkbox" })</td>
                            <td>@Html.CheckBoxFor(x => x[i].Blocked, new { @class = "checkbox" })</td>
                            <td>@Html.CheckBoxFor(x => x[i].DroppedPassword, new { @class = "checkbox" })</td>
                            <td>@Html.CheckBoxFor(x => x[i].Deleted, new { @class = "checkbox" })</td>
                            </tr>
                }
            </table>
        }
    </div>
</div>