@{
    ViewBag.Title = @Resources.Resource.ResetPasswordConfirmationTitleText;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.ResetPasswordConfirmationMessage @Html.ActionLink(@Resources.Resource.ResetPasswordConfirmationLinkText, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
